{% extends 'base.html' %}
{% block head %}User Creation{% endblock head %}


{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title">Current Users</h3>
            </div>
            <div class="card-body table-responsive" id ="table_load">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title">User Creation</h3>
            </div>
            <div class="card-body table-responsive">
                <form action="{% url 'insert_user' %}" method="post">
                {%csrf_token%}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    <div class="form-group">
                        <label for="ratio_input">Ratio (%)</label>
                        <input type="number" min='0' max='100' class="form-control" id="ratio_input" name="ratio">
                    </div>
                    <div class="form-group">
                        <label for="role_input">Role</label>
                        <select class="form-control" id="role_input" name="role">
                            <option selected value="normal">Normal User</option>
                            <option value"admin">Admin</option>
                        </select>
                        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% if duplicate_error %}
                <div class="alert alert-danger" role="alert" style="margin-top:5%">
                    A user exists with the same username!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                {% if success %}
                <div class="alert alert-success" role="alert" style="margin-top:5%">
                    User successfully added!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>

function get_all_users(){
    set_loading('#table_load');
    $.ajax({
        type: "GET",
        url: "{% url "manage_users_get_all_users"%}",  // URL to your view that serves new info
    }).then(function (response) {
        set_loading('#table_load');
        $("#table_load").html(response.table);
        $("#data_table").DataTable();

    });

}
get_all_users();
</script>
{% endblock content %}